.popup__container {
  background-color: #FFFFFF;
  width: 282px;
  height: 322px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -161px 0 0 -141px;
  z-index: 1;
  border-radius: 10px;
  padding: 25px 22px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .popup__container {
    padding: 34px 36px 37px;
    width: 430px;
    height: 330px;
    margin: -165px 0 0 -215px;
  }
}